$primary-text-color: #757575;
$title-color: #212121;
$primary-white-color: #ffffff;
$background-secondary-color: #f5f4fa;
$background-footer-color: #2f303a;
$accent-color: #2196f3;
$footer-text-color: rgba(255, 255, 255, 0.6);
$icon-color: #afb1b8;
