.button {
	padding: 10px 32px;
	border-radius: 4px;
	border: 0;
	min-width: 200px;
	font-family: inherit;

	@include font(16px, 700, 1.87, 0.06em);

	color: $primary-white-color;
	background-color: $accent-color;
	border-color: transparent;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

	@media screen and (max-width: 1199px) {
		.footer-right & {
			margin-top: 20px;
			text-align: center;
		}
	}
}

.button-icon-center {
	display: flex;
	justify-content: center;
	align-items: center;
}