.social-icon {
	width: 20px;
	height: 20px;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

	.footer & {
		fill: $primary-white-color;
	}

	.team & {
		fill: $icon-color;
	}

	.social-link:hover &,
	.social-link:focus & {
		fill: $primary-white-color;
	}
}

.social-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	.footer-middle & {
		background-color: rgba(255, 255, 255, 0.1);
	}

	&:hover,
	&:focus {
		background-color: $accent-color;
	}
}

.social-list {
	display: flex;
	justify-content: center;
}
.team-list-item-socials {
	padding-bottom: 24px;
}

.social-list-item:not(:last-child) {
	margin-right: 10px;
}