.features-title::before {
	display: block;
	margin-bottom: 30px;
	content: "";
	width: 100%;
	height: 120px;
	background-color: $background-secondary-color;
}

.antenna::before {
	background-image: url("../images/icon1.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 65px 70px;
}

.clock::before {
	background-image: url("../images/icon2.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 65px 70px;
}

.diagram::before {
	background-image: url("../images/icon3.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 65px 70px;
}

.astronaut::before {
	background-image: url("../images/icon4.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 65px 70px;
}

.features-title {
	margin-bottom: 10px;
	@include font(14px, 700, 1.14, 0.03em);
	text-transform: uppercase;
	color: $title-color;
}

.feature-description {
	width: 100%;
	@include font(14px, 400, 1.71, 0.03em);
}

@media screen and (max-width: 767px) {
	.features-list-item:not(:last-child) {
		margin-bottom: 30px;
	}
}

@media screen and (min-width: 768px) {
	.features-list {
		display: flex;
		flex-wrap: wrap;
	}

	.feature-description,
	.features-title::before {
		width: 354px;
	}

	.features-list-item:not(:nth-child(2n)) {
		margin-right: 30px;
	}

	.features-list-item:nth-child(-n + 2) {
		margin-bottom: 30px;
	}
}

@media screen and (min-width: 1200px) {
	.features-list {
		flex-wrap: nowrap;
	}

	.feature-description,
	.features-title::before {
		width: 270px;
	}

	.features-list-item {
		margin-right: 0;
		margin-bottom: 0;
	}

	.features-list-item:not(:last-child) {
		margin-right: 30px;
	}
}
