.clients-list {
	margin: 0 -15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.clients-list-item {
	display: inline-block;
	margin: 0 15px;
}

.clients-list-item-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 209px;
	height: 90px;
	border: 1px solid $icon-color;
	border-radius: 4px;

	transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		border-color: $accent-color;
	}
}

.clients-logo {
	fill: $icon-color;
	transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

	.clients-list-item-link:hover &,
	.clients-list-item-link:focus & {
		fill: $accent-color;
	}
}

.clients-list-item-link:hover .clients-logo,
.clients-list-item-link:focus .clients-logo {
	fill: $accent-color;
}

@media screen and (max-width: 479px) {
	.clients-list-item:not(:nth-last-child(-n + 1)) {
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 767px) {
	.clients-list-item:not(:nth-last-child(-n + 2)) {
		margin-bottom: 30px;
	}
}

@media screen and (min-width: 768px) {
	.clients-list-item-link {
		width: 226px;
	}

	.clients-list-item:not(:nth-last-child(-n + 3)) {
		margin-bottom: 30px;
	}
}

@media screen and (min-width: 1200px) {
	.clients-list-item-link {
		width: 170px;
	}

	.clients-list-item:not(:nth-last-child(-n + 3)) {
		margin-bottom: 0px;
	}
}
