.header {
	position: relative;
	border-bottom: 1px solid #ececec;
}

.navigation-list {
	& .link {
		display: block;
		padding-top: 32px;
		padding-bottom: 32px;

		color: $title-color;
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

		&:hover,
		&:focus {
			color: $accent-color;
		}

		&.current {
			position: relative;
			color: $accent-color;

			&::after {
				position: absolute;
				bottom: 0px;
				left: 0px;
				width: 100%;
				height: 100%;
				display: block;
				content: "";
				height: 4px;
				background-color: $accent-color;
				border-radius: 2px;
			}
		}
	}
}

.navigation-list-item:not(:last-child) {
	margin-right: 50px;
}

.contact-link {
	display: block;
	text-align: center;
	color: $primary-text-color;

	transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		color: $accent-color;
	}
}

.contacts-icon {
	margin-right: 10px;
	fill: $primary-text-color;
	transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&.envelope {
		width: 14px;
		height: 10px;
	}

	&.phone {
		width: 10px;
		height: 14px;
	}

	.contact-link:hover &,
	.contact-link:focus & {
		fill: $accent-color;
	}
}

@media screen and (max-width: 767px) {
	.burger-menu {
		position: absolute;
		z-index: 1;
		top: 60px;
		left: 0;
		padding: 40px 50px 52px 50px;

		width: 100%;
		height: 393px;
		background-color: $primary-white-color;
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);

		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: all 250ms linear;

		&.is-open {
			opacity: 1;
			visibility: visible;
			pointer-events: unset;
		}
	}

	.navigation {
		margin-bottom: 52px;
	}

	.navigation-list-item:not(:last-child) {
		margin-right: 0;
	}

	.navigation-list {
		& .link {
			padding-top: 20px;
			padding-bottom: 20px;
			text-align: center;

			@include font(18px, 500, 1.17, 0.02em);

			&.current {
				&::after {
					left: 50%;
					bottom: 12px;
					transform: translateX(-50%);
					width: 100px;
					margin: 0 auto;
				}
			}
		}
	}

	.menu-button {
		display: inline-flex;
		width: 40px;
		height: 40px;
		margin: 0;
		padding: 0;
		border: none;
		background-color: transparent;

		& .icon-close {
			display: none;
		}

		&.is-open .icon-close {
			display: block;
		}

		&.is-open .icon-menu {
			display: none;
		}

		&:hover .menu-button-icon,
		&:focus .menu-button-icon {
			fill: $accent-color;
		}
	}

	.header-contacts {
		margin-bottom: 52px;
	}

	.contact-link {
		padding-top: 8px;
		padding-bottom: 8px;
		@include font(18px, 500, 1.17, 0.02em);
	}

	.contacts-icon {
		&.envelope {
			width: 16px;
			height: 11px;
		}

		&.phone {
			width: 10px;
			height: 15px;
		}
	}
}

@media screen and (min-width: 768px) {
	.menu-button {
		display: none;
	}

	.burger-menu {
		display: flex;
		margin-left: 88px;
	}

	.navigation {
		margin-right: 84px;
	}

	.navigation-list {
		display: flex;

		& .link {
			@include font(14px, 500, 1.14, 0.02em);
		}
	}

	.header-contacts-list {
		padding: 21px 0;
	}

	.header-contacts-list-item:not(:last-child) {
		margin-bottom: 10px;
	}

	.contact-link {
		display: flex;
		justify-content: flex-start;

		@include font(12px, 500, 1.17, 0.02em);
	}

	.contacts-icon {
		&.envelope {
			width: 14px;
			height: 10px;
		}

		&.phone {
			width: 10px;
			height: 14px;
		}
	}
}

@media screen and (min-width: 1200px) {
	.burger-menu {
		margin-left: 93px;
	}

	.navigation {
		margin-right: 305px;
	}

	.header-contacts {
		display: block;
		margin-left: auto;
	}

	.header-contacts-list {
		display: flex;
		padding: 0;
	}

	.header-contacts-list-item {
		flex-shrink: 1;
	}

	.header-contacts-list-item:not(:last-child) {
		margin-bottom: 0;
		margin-right: 30px;
	}

	.contact-link {
		display: flex;
		align-items: center;
		padding-top: 32px;
		padding-bottom: 32px;

		@include font(14px, 500, 1.14, 0.02em);
	}

	.contacts-icon {
		margin-right: 10px;

		&.envelope {
			width: 16px;
			height: 12px;
		}

		&.phone {
			width: 10px;
			height: 16px;
		}
	}
}
