.hero {
	padding-top: 118px;
	padding-bottom: 118px;
	margin: 0 auto;

	text-align: center;
	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.hero-title {
	margin: 0 auto 32px;
	width: calc(100%-30px);

	@include font(26px, 900, 1.62, 0.06em);
	text-transform: uppercase;
	color: $primary-white-color;
}

@media screen and (min-width: 768px) {
	.hero-title {
		width: 360px;
	}
}

@media screen and (min-width: 1200px) {
	.hero {
		padding-top: 200px;
		padding-bottom: 200px;

		max-width: 1600px;
		min-height: 600px;
	}

	.hero-title {
		width: 696px;

		@include font(44px, 900, 1.36, 0.06em);
	}
}
